<!DOCTYPE html>
<html>
    <header>
        <title>Yellcamp!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        
    </header>
    
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">Yelpcamp</a>
            <ul class="nav justify-content-end">
                <li class="nav-item"><a class="nav-link disabled" href="/campgrounds">Login</a></li>
                <li class="nav-item"><a class="nav-link disabled" href="/campgrounds">Sign Up</a></li>
                <li class="nav-item"><a class="nav-link disabled" href="/campgrounds">LogOut</a></li>
            </ul>
        </nav>
        